<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie information</title>
    <link rel="stylesheet" href="../css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/movie.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
<div class="header">
    <a href="index.html" class="logo">KinoXP</a>
</div>
<div class="container d-flex">

    <div id="movieDetails" class="p-3">
        <h2>Information about the movie</h2>
        <p>Titel: <span id="movieTitle"></span></p>
        <p>Release year: <span id="releaseYear"></span></p>
        <img id="moviePoster" alt="Movie Poster" style="width:200px;"/>
        <h3>Actor:<h3>
            <div id="actors"></div>
            <h3>Director:</h3>
            <div id="directors"></div>
            <h3>Genres:</h3>
            <div id="genres"></div>
    </div>

    <!-- Showings List Section -->
    <div class="p-3" style="flex-grow: 1;">
        <h2>Movie showings</h2>
        <ul id="showings">

        </ul>

        <button id="addShowingButton" class="btn btn-primary mt-3" style="display: none;">Tilføj ny filmvisning</button>
    </div>
</div>


<div id="showingModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add new showings</h2>
        <form id="addShowingForm">
            <label for="theatreId">Sal:</label>
            <select name="theatreId" id="theatreId"></select>

            <label for="adminId">Movie oprater:</label>
            <select name="adminId" id="adminId"></select>

            <label for="dateTime">Start date and time:</label>
            <input type="datetime-local" id="dateTime" name="dateTime" required>

            <button type="submit" class="btn btn-primary mt-3">Add showing</button>
        </form>
        <div id="responseMessage"></div>
    </div>
</div>

<div class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <p>Phone number: +45 0987654</p>
            <p>Website: <a href="https://www.kinoxp.dk">www.kinoxp.dk</a></p>
        </div>
        <div class="footer-right">
            <p>Address: KinoXP, Guldberggade 29N</p>
            <p>Email: <a href="mailto:NAAI@kinoxp.dk">NAAI@kinoxp.dk</a></p>
            <p><a href="login.html" class="employee-login-link">Log in as an employee</a></p>
        </div>
    </div>
</div>

<script src="../js/movie.js" type="module"></script>
</body>
</html>
